* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }
#headerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ff1313;
    color: #fff;
}
#social-icons {
    display: flex;
    gap: 10px;
}
#social-icons li {
    list-style: none;
}
#social-icons li a {
    text-decoration: none;
    color: #fff;
    width: auto;
    height: auto;
} 
#headerTopIcons img{
    width: 25px;
    height: 25px;
    object-fit: cover;
}